@media screen and (min-width: 700px) {

	.title > h1:first-of-type {
		margin-top: 0;	
	}

	.grocery-list {
		grid-template-columns: 1fr 1fr 1fr;
		margin: 4rem 5rem;
	}

	table {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	footer {
		text-transform: uppercase;
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		font-weight: 700;
		margin: 2rem 3rem;
	}

	footer p {
		flex: 1;
	}

	footer section {
		display: flex;
		gap: 2rem;
	}

	footer section img {
		width: 44px;
		height: 44px;
	}

	header {
		display: flex;
		gap: 4rem;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 2rem 0;
		font-weight: 600;
		text-transform: uppercase;
	}

	header > p > a {
		padding: 0.5rem 2rem;
	}

	header > .common {
		opacity: 0.7;
		cursor: pointer;
		transition: all 0.12s ease-in;
	}

	header > .common:hover {
		opacity: 0.8;
	}

	.hero {
		padding: 1em 0em;
		gap: 2.5rem;
		margin-top: -7rem;
		flex-direction: row;
	}

	.hero > .text {
		flex-direction: column;
		text-align: left;
	}

	.hero picture,
	.hero picture img {
		height: auto;
		margin-bottom: 0;
	}

	.hero > .text > .buttons {
		flex-direction: row;
		gap: 0.5rem;
	}

	.hero > .text > .buttons button {
		font-size: 1rem;
	}

	.plans h1 {
		width: 45%;
		text-align: right;
	}
}

@media screen and (min-width: 1200px) {
	.hero {
		flex: 1;
		display: flex;
		flex-direction: row;
		margin-top: -5rem;
		justify-content: center;
		min-height: calc(100vh - 7rem);
		align-items: center;
		padding: 2em 3em;
	}

	.hero > .text {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.hero > .text > h1 {
		font-size: 5rem;
		margin: 0;
		text-transform: uppercase;
	}

	.hero > .text > h2 {
		font-size: 3em;
		margin: 0;
		font-weight: 400;
	}

	.hero > .text > h2 > span {
		font-weight: 700;
	}

	table {
		width: calc(100% - 10rem);
		margin-left: 5rem;
		margin-right: 6rem;
	}

	.hero > .text > .buttons {
		margin-top: 2.5rem;
	}

	.hero > .text > .buttons > button {
		padding: 9px 25px;
		border-radius: 8px;
		text-transform: uppercase;
		font-size: 1rem;
		background: none;
		color: var(--color-text-light);
		border: none;
		cursor: pointer;
		font-weight: 600;
	}

	.hero > .text > .buttons > button:first-of-type {
		background-color: var(--color-accent);
		color: var(--color-background);
		margin-right: 1rem;
	}

	.plans > .plans-container {
		grid-template-columns: 1fr 1fr;
	}

	.plans > .plans-container > div:first-of-type {
		align-items: flex-start;
	}

	.plans > .plans-container > div:last-of-type {
		align-items: flex-end;
	}
}
