* {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
}

header {
	text-align: center;
	background-color: #FC0;
	padding: 1rem;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

main section {
	margin: 2rem;
}

footer {
	background-color: #FC3;
	padding: 1rem;
}
