body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

div.banner {
	text-align: center;
	padding: 1em;
	border: 1px solid #ddd;
	background-color: #eee;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
	grid-template-columns: 1fr 200px;
	grid-gap: 1.5rem;
}

h2 {
	color: navy;
	text-align: left;
	grid-column: 1/3;
}

article p {
	text-align: justify;
}

.callout {
	color: #fff;
	grid-column: 1/3;
	padding: 4px 24px;
	background-color: #702963;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 0.5rem;
	font-size: smaller;
	text-align: left;
}

